.p li:nth-child(odd) {
    background-color: gray;
    color: rgb(255, 163, 43);
}
.p li:nth-child(even) {
    background-color: white;
}

.d li:nth-child(3) {
    cursor: pointer;
}

.d li:nth-child(5) {
    cursor: pointer;
}

.d li:nth-child(4) {
    background-color: orange;
}
h1 { 
    text-align: center;
    font-size: 22px;
}
p {
    font-style: italic;
}
h2 {
    text-align: center;
}



@media (min-width: 992px) {
    .lists {
            display: flex;
            justify-content: space-between;
        }
    
    .p {
            padding: 10px;
            margin: 10px;
            width: 50%;
        }
    
    .d {
            padding: 10px;
            margin: 10px;
            width: 50%;
        }
}
@media (min-width: 768px) and (max-width: 991px ) {
    .lists {
        flex-direction: column;
    }    
}
@media (max-width: 767px) {
    .lists {
        flex-direction: column;
    }
}
